version: 2.0

jobs:
  build:
    docker:
      - image: alpine:3.7
    steps:
      - run:
          name: The First Step
          command: |
            echo 'Hello World!'
      
  deploy:
    machine:
      enabled: true
    steps:
      - run:
          name: Deploy Over SSH
          command: |
            ssh $SSH_USER@$SSH_HOST "ls -la /root/scrapy-cluster-test"
        

workflows:
  version: 2
  build-and-deploy:
    jobs:
      - build
      - deploy:
          requires: # only deploy once build job has completed
          filters:
            branches:
              only: master
