version: 2.0

jobs:
  build:
    docker:
      - image: alpine:3.7
    steps:
      - run:
          name: The First Step
          command: |
            echo 'Hello World!'
      
  deploy:
    machine:
      enabled: true
    steps:
      - run:
          name: Deploy Over SSH
          command: |
            ssh $SSH_USER@$SSH_HOST "ls -la /home/ubuntu/node_project
            cd /home/ubuntu/node_project
            docker-compose up -d
            docker-compose images
            docker-compose ps
            docker system prune -af
            docker-compose images
            docker-compose ps"          

workflows:
  version: 2
  build-and-deploy:
    jobs:
      - build
      - deploy:
          requires: # only deploy once build job has completed
          filters:
            branches:
              only: master
