#version: 2.0
#
#jobs:
#  build:
#    docker:
#      - image: alpine:3.7
#    steps:
#      - run:
#          name: The First Step
#          command: |
#            echo 'Hello World!'

version: 2.1
jobs:
  build:
    docker:
      - image: circleci/python:3.8.5
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            python3 -m pip install --upgrade pip
            pip install -r requirements-dev.txt
      - save_cache:
          paths:
            - venv
          key: v1-dependencies-{{ checksum "requirements-dev.txt" }}
  check_linting:
    docker:
      - image: circleci/python:3.8.5
    working_directory: ~/repo
    steps:
      - checkout
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "requirements-dev.txt" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-
      - run:
          name: run linting
          command: |
            . venv/bin/activate
            flake8 ./
            black ./ --check
            isort ./ --check-only
  unittest:
    docker:
      - image: circleci/python:3.8.5
    working_directory: ~/repo
    steps:
      - checkout
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "requirements-dev.txt" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-
      - run:
          name: run tests
          command: |
            . venv/bin/activate
            pytest
      
  deploy-dev:
    machine:
      enabled: true
    steps:
      - run:
          name: Deploy Over SSH
          command: |
            ssh $SSH_USER@$SSH_HOST_DEV "ls -la /home/ubuntu/scrapy-cluster-test
            cd /home/ubuntu/scrapy-cluster-test
            echo "DEPLOYING DEV"
            echo "Pulling latest changes"
            git pull || { echo 'Pulling failed' ; exit 1; }
            echo "Building images"
            docker-compose -f docker-compose-dev.yml build
            echo "Scaling docker-compose down"
            docker-compose -f docker-compose-dev.yml down
            echo "Scaling docker-compose up"
            docker-compose -f docker-compose-dev.yml up -d"

  deploy-prod:
    machine:
      enabled: true
    steps:
      - run:
          name: Deploy Over SSH
          command: |
            ssh $SSH_USER@$SSH_HOST_PROD "ls -la /home/ubuntu/scrapy-cluster-test
            cd /home/ubuntu/scrapy-cluster-test
            echo "DEPLOYING PROD"
            echo "Pulling latest changes"
            git pull || { echo 'Pulling failed' ; exit 1; }
            echo "Building images"
            docker-compose -f docker-compose-prod.yml build
            echo "Scaling docker-compose down"
            docker-compose -f docker-compose-prod.yml down
            echo "Scaling docker-compose up"
            docker-compose -f docker-compose-prod.yml up -d"

workflows:
  version: 2
  build-and-deploy-dev:
    jobs:
      - build
      - deploy-dev:
          requires: # only deploy once build job has completed
          filters:
            branches:
              only: dev
  build-and-deploy-prod:
    jobs:
      - build
      - deploy-prod:
          requires:
          filters:
            branches:
              only: master
